<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bigjava.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="org.bigjava.bean.Product">
    <!--@mbg.generated-->
    <!--@Table t_product-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="ingredient" jdbcType="VARCHAR" property="ingredient" />
    <result column="sell" jdbcType="INTEGER" property="sell" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, introduction, ingredient, sell, cost
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from t_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.bigjava.bean.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_product (`name`, introduction, ingredient, 
      sell, cost)
    values (#{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{ingredient,jdbcType=VARCHAR}, 
      #{sell,jdbcType=INTEGER}, #{cost,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.bigjava.bean.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="ingredient != null">
        ingredient,
      </if>
      <if test="sell != null">
        sell,
      </if>
      <if test="cost != null">
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="ingredient != null">
        #{ingredient,jdbcType=VARCHAR},
      </if>
      <if test="sell != null">
        #{sell,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.bigjava.bean.Product">
    <!--@mbg.generated-->
    update t_product
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="ingredient != null">
        ingredient = #{ingredient,jdbcType=VARCHAR},
      </if>
      <if test="sell != null">
        sell = #{sell,jdbcType=INTEGER},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.bigjava.bean.Product">
    <!--@mbg.generated-->
    update t_product
    set `name` = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      ingredient = #{ingredient,jdbcType=VARCHAR},
      sell = #{sell,jdbcType=INTEGER},
      cost = #{cost,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-08-30-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_product
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
      <if test="introduction != null">
        and introduction=#{introduction,jdbcType=VARCHAR}
      </if>
      <if test="ingredient != null">
        and ingredient=#{ingredient,jdbcType=VARCHAR}
      </if>
      <if test="sell != null">
        and sell=#{sell,jdbcType=INTEGER}
      </if>
      <if test="cost != null">
        and cost=#{cost,jdbcType=INTEGER}
      </if>
    </where>
  </select>

</mapper>